.footer-wrapper{
    background-color: var(--dark-grey);
}

footer{
    max-width: 1100px;
    margin: 0 1.5rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-top: 250px;
    padding-bottom:64px;
    position: relative;
}

.footer-navigation,
.socials{
    max-width: 1100px;

}

.footer-redirect-contact{
    position: absolute;
    top: -20%;
    padding: 4rem 1.5rem;
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--peach);
    color: var(--white);
    width: 100%;
    margin: 0 auto;
    background-image: url("../assets/about/desktop/bg-pattern-hero-about-desktop.svg");
    background-position: 0px 150px;
    background-size: 250px;
}

.footer-redirect-contact-wrapper{
    text-align: center;
}

.redirect-contact-title{
    font-size: var(--fs-h1-mobile);
    font-weight: 300;
    line-height: 36px;
    margin-bottom: 2rem;
}

.redirect-contact-body{
    max-width: 450px;
    margin-bottom: 2rem;
}

.logo-dark{
    height: 27px;
    margin-top: 64px;
    margin-bottom: 2rem;
    position: relative;
}

.footer-list{
    padding: 0;
    margin: 0;
}

.footer-list-item{
    margin-bottom:2rem;
}

.footer-links{
    letter-spacing: var(--letter-spacing);
    text-decoration: none;
    color: var(--white);
}

.socials{
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    align-items: center;
}

.socials p {
    line-height: 30px;
    color: var(--light-grey);
}

footer span{
    font-weight: 700;
}

.social-media{
    display: flex;
    width: 185px;
    justify-content: space-between;
}

.social-media svg{
    cursor: pointer;
}


@media(min-width:680px){
    footer{
        align-items: stretch;
        padding-top: 100px;
    }

    .footer-redirect-contact{
        transform: translateY(-175px);
    }

    .footer-navigation,
    .socials{
        padding-left: 40px;
        padding-right: 40px;
    }

    .footer-navigation,
    .socials{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    
    }

    .footer-navigation{
        margin-top:80px;
        margin-bottom: 40px;
        padding-bottom: 40px;
        position: relative;
    }

    .footer-navigation::after{
        content: "";
        position: absolute;
        height: 1px;
        width:100%;
        background-color: grey;
        bottom:0;
    }
    

    .logo-dark{
        margin: 0;
    }

    .footer-list{
        display: flex;
        justify-content: space-between;
    }

    .footer-list-item{
        margin-bottom: 0;
        margin-left: 2em;
        font-size: 15px;
    }

    .social-media{
        align-self: flex-end;
    }

    .footer-list{
        display: flex;
    }
}



@media(min-width: 724px){
    footer{
        padding-top: 30px;
        margin-left: 40px;
        margin-right: 40px;
    }

    .footer-redirect-contact{
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        top:-7%;
        
    }

    .footer-navigation{
        padding-left: 0;
        padding-right: 0;
    }

    .footer-redirect-contact-wrapper{
        text-align: left;
    }

    .redirect-contact-title{
        margin-bottom: 1rem;
    }

    .redirect-contact-body{
        margin: 0;
        width: 85%;
    }   
}


@media(min-width:1100px){
    footer{
        margin-left: auto;
        margin-right: auto;
        padding-left:40px;
        padding-right: 40px;
    }

    .footer-redirect-contact{
        max-width: 1020px;
        left: 4%;
    }
}


