.service-hero{
    background-image: url("../assets/web-design/desktop/bg-pattern-intro-web.svg");
    background-position: -120px;
    padding: 64px 1.5rem;
    color: var(--white);
    background-color: var(--peach);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.service-hero-title{
    font-size: var(--fs-h1-mobile);
    margin-bottom: 1.5rem;
}

.service-hero-body{
    max-width: 500px;
}



@media(min-width:700px){
    .service-hero{
        margin-left: 40px;
        margin-right: 40px;
        border-radius: var(--border-radius);
    }

    .service-hero-title{
        font-size:var(--fs-h1-tablet);
    }
}


@media(min-width:920px){
     .service-hero{
        max-width: 1100px;
     }

     .service-hero-title{
        font-size:var(--fs-h1-desktop);
    }
}